@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
  font-family: 'Poppins';
}


html, body {
    margin: 0;
    padding: 0;
  }


  header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  

  #sections { 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  .section1 { 

    height: 600px;
    background color: rgba(232,217,217,.3);



  }


  #seeplans {

    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251 59 73,.2);


  }

  .logo {

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;


  }

  #logo {

    width: 25px;
    height: 20px;
    position: relative;
    margin-top: auto;
    margin-bottom: px;

  }

  #searchbarbutton {

   padding-left: 10px;
   padding-right: 10px;
   position: relative;
   width: 40%;
  
    
  }

  #sbutton {

    background-color: #fb3e44;
    color: white;
    


  }

  .colorbuttonlabel {

    color: rgba(0,0,0,.05);
    
  }
  .searchbarbuttonvalue {

    
    color:rgba(0,0,0,.05);
  }

  .section1 {

    display: flex;
    justify-content:center;
    height: 600px;
    background-color: rgba(232,217,217,.3);

  }

  #bigtxt {

    font-size: 80px;
    
  }

  #article1 {
    padding-bottom: 20px;
    line-height: 15px;
    font-size: 15px;
  font-weight: 100;
  text-align: center;
  margin: 20px 0;

  }

  #seeplans {

    background-color: #FB3B49;
    color: white;
    font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: 10px 12px 10px #e0bbb8 ;
  margin-right: 30px;
  


  }

  #listadebtts{

    list-style-type: none;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
    align-content: stretch;
    

  }

  #join4free {

   color: black;
   font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;

  }